{# <div class="bg-white rounded-lg shadow hover:shadow-md transition p-6 flex flex-col items-center justify-center">
  {# <div class="text-4xl mb-3">{{ icon }}</div>
  <div class="text-md font-medium text-gray-700">{{ label }}</div> #}
  {# <img src="{{ asset('icons/arts.png') }}" alt="{{ label }}" class="w-16 h-16 mx-auto">
</div> #} 


<div class="bg-white shadow rounded-lg p-4">
  {# <img src="{{ asset('/images/illustrations/' ~ image) }}" alt="{{ label }}" class="w-20 h-20 mx-auto mb-2"> #}
  <img src="{{ asset('/images/illustrations/' ~ image) }}" alt="{{ label }}" class="w-32 h-32 mx-auto mb-2 object-contain">
  <p class="text-lg font-semibold">{{ label }}</p>
</div>
